#schedule #schedule-dates {
  height: 55px;
  padding-left: 5px;
}

#schedule-dates a:hover, #schedule-dates a.active {
  background-position: 0 center;
}
#schedule-dates a {
  background: url(../images/date.png) no-repeat scroll -90px center transparent;
  color: #164B21;
  display: block;
  float: left;
  height: 50px;
  margin-right: 0px;
  text-align: center;
  text-transform: uppercase;
  width: 85px;
}
#schedule-dates .day {
  display: block;
  font-size: 13px;
  line-height: 13px;
  margin-top: 11px;
}
#schedule-dates .number {
  display: block;
  font-family: 'PT Sans Bold';
  font-size: 18px;
  line-height: 18px;
  margin-top: 2px;
}
#schedule {
  float:left;
  height: 600px;
  overflow-y: scroll;
  padding-left: 3px;
  width: 605px;
}
.schedule-row {
  clear: both;
  height: 50px;
  padding: 5px 0 5px 5px;
}
.schedule-row .time {
  background: #009900;
  color: #FFFFFF;
  float: left;
  font-family: 'PT Sans Bold';
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  margin-right: 15px;
  text-align: center;
  width: 100px;
}
.schedule-row .image {
  float: left;
  height: 50px;
  margin-right: 15px;
  width: 100px;
}
.schedule-row .details {
  float: left;
  padding-top: 3px;
  width: 350px;
}
.schedule-row .details .serie {
  color: #329c47;
  font-family: 'PT Sans Bold';
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 2px;
}
.schedule-row .details .episode {
  color: #164B21;
  line-height: 14px;
  margin: 0;
  width: 330px;
}
#schedule-outer-wrapper {
  width:700px;
}
li.caddon_tvs {
  float:left;
}
